.repldiv{
	margin-top: 15px;
	margin-bottom: 30px;
}

.repldiv2{
	margin-top: 10px;
}

.rpbott{
	font-size: 0.9em;
}
.rpbtn{
	margin-right: 50px;
	cursor: pointer;
	
}
.insertrrpl{
	display: none;
	
}
.rreplresult{
	margin-left: 50px;
	/* display: none; */
}
.viewrrpl{
	color: blue;
	cursor: pointer;
	margin-top: 15px;
}
.userimg{
	margin-right: 15px;
}
