.repldiv{
	margin-top: 15px;
	margin-bottom: 30px;
}

.repldiv2{
	width:100%;
	margin-top: 10px;
}

.rpbott{
	font-size: 0.9em;
}
.rpbtn{
	margin-right: 50px;
	cursor: pointer;
	
}
.insertrrpl{
	display: none;
	
}
.rreplresult{
	margin-left: 50px;
	width: 100%;
	/* display: none; */
}
.viewrrpl{
	color: blue;
	cursor: pointer;
	margin-top: 15px;
}
.userimg{
	margin-right: 15px;
}
.repldiv1{
	margin-left: 50px;
}
.rmenubar{
	width: 100px; height: 100px;
	margin-left: 40px;
	display: block;
	position: relative;
	font-size: 1.2em;
	margin-top: 50px;
	cursor: pointer
	
}
.upanddel{
	padding-top: 10px;
	visibility: hidden;
}
.rpmenu{
	margin-top: 10px;
	
}
.rpcontentsarea {
	font-size: 1.2em;
	font-weight:bold;
	overflow:hidden;
	height:30px;
	min-height: 10px;
	width: 100%;
	resize:none;
	text-decoration: none;
	border: none;
	background: white;
}