.rrepl {
	font-size: 1.2em;
	font-weight:bold;
	overflow:hidden;
	height:30px;
	min-height: 10px;
	width: 70%;
	resize:none;
	text-decoration: none;
	border-color: rgba(0, 0, 0, 0.15);
	border-bottom-width: 1;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	margin-bottom: 0;
	margin-top: 15px;
	
}

.rrepl:focus {
	outline: none;
}


.rreplbtndiv {
	visibility: hidden;
	width: 70%;
	text-align: right;
}

.rreplsubtn {
	border-radius: 15%;
	font-weight: bold;
	margin: 0 0 0 0;
	border: none;
	background: rgba(0, 0, 0, 0.15);
	width: 80px;
	height: 40px;
}
.rreplrsbtn {
	font-weight: bold;
	margin: 3px 0 0 0;
	border: none;
	background: white;
	width: 80px;
	height: 40px;
	cursor: pointer;
}
